body{
    background-image: url(Images/завантаження.png);
    margin: 0;
}
.menu{
    background-color: rgb(23, 22, 51);
    margin: 0;
    list-style-type: none;
    overflow: hidden;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu-item-left{
    float: left;
}
.menu-item-right{
float: right;
}
.menu-ref{
    display: block;
    padding: 10px 20px;
    color: white;
    font-size: 1.7rem;
    text-decoration: none;
}
.active{
    background-color: rgb(3, 61, 109);
    border-right-style: solid;
    border-right-width: 1px;
    border-right-color: white;
}

.contact{
    background-color: none;
    margin: auto;
    list-style-type: none;
    overflow: hidden;
    padding: auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-item{
    float: left;
}

